# Each virtual machine has the same hardware resources available.
#
# - 2-core CPU
# - 7 GB of RAM memory
# - 14 GB of SSD disk space
#
# https://help.github.com/en/actions/automating-your-workflow-with-github-actions/virtual-environments-for-github-hosted-runners

name: CI
on:
  push:

env:
  SONATYPE_NEXUS_USERNAME: ${{ secrets.OSS_SONATYPE_NEXUS_USERNAME }}
  SONATYPE_NEXUS_PASSWORD: ${{ secrets.OSS_SONATYPE_NEXUS_PASSWORD }}

jobs:
  build:
    runs-on: ubuntu-16.04
    env:
      GRADLE_ARGS: >-
        --stacktrace
        --no-daemon
        --no-parallel
        --max-workers 2
        -Pkotlin.incremental=false

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Gradle cache
        uses: actions/cache@v2
        with:
          path: ~/.gradle
          key: grade-${{ hashFiles('**/build.gradle') }}

      - name: Check
        run: ./gradlew $GRADLE_ARGS check

      - name: Snapshot
        if: github.ref == 'refs/heads/main'
        run: >-
          ./gradlew
          $GRADLE_ARGS
          uploadArchives
          -PVERSION_NAME=main-SNAPSHOT

      - name: Keyring
        if: startsWith(github.ref, 'refs/tags/')
        run: echo "${{ secrets.SIGNING_SECRET_KEY_RING }}" | base64 --decode > ~/secring.gpg

      - name: Publish
        if: startsWith(github.ref, 'refs/tags/')
        run: >-
          ./gradlew
          $GRADLE_ARGS
          uploadArchives
          -PVERSION_NAME=${GITHUB_REF/refs\/tags\//}
          -Psigning.keyId="${{ secrets.SIGNING_KEY_ID }}"
          -Psigning.password="${{ secrets.SIGNING_PASSWORD }}"
          -Psigning.secretKeyRingFile="$HOME/secring.gpg"

      - name: PublishDocumentation
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          ./gradlew dokkaHtml
          git config user.email CONX_GH_PAGES_USER_EMAIL
          git config user.name CONX_GH_PAGES_USER_NAME
          git checkout gh-pages
          git rm -rf .
          git add ./core/build/dokka/html/core/
          git commit -m 'Updating dokka documentation'
          git push origin gh-pages
