name: CI
on:
  pull_request:
  # Trigger on merges to `main` to allow `gradle/gradle-build-action` runs to write their caches.
  # https://github.com/gradle/gradle-build-action#using-the-caches-read-only
  push:
    branches:
      - main

jobs:
  assemble-rust:
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        runner:
          - macos-15-intel
          - ubuntu-24.04-arm
          - ubuntu-latest
          - windows-latest
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'
      - uses: gradle/actions/setup-gradle@v5
      - run: ./gradlew :kable-core:compileKotlinJvm
      - run: unzip kable-btleplug-ffi.jar && rm -rf META-INF com *.jar
        working-directory: kable-btleplug-ffi/build/libs
        shell: bash
      - uses: actions/upload-artifact@v5
        with:
          name: kable-btleplug-ffi-${{ matrix.runner }}
          path: kable-btleplug-ffi/build/libs/
          if-no-files-found: error
          retention-days: 1

  build:
    runs-on: macos-latest
    needs: assemble-rust
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v6
        with:
          path: kable-btleplug-ffi/build/external
          pattern: kable-btleplug-ffi-*
          merge-multiple: true
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'
      - uses: gradle/actions/setup-gradle@v5

      - run: ./gradlew assemble -PsuppressWarnings=true
      - run: ./gradlew check
      - run: ./gradlew -PRELEASE_SIGNING_ENABLED=false publishToMavenLocal
