name: Documentation
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: gradle/wrapper-validation-action@v3
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: dokkaHtmlMultiModule
        uses: gradle/gradle-build-action@v3
        with:
          cache-read-only: true
          arguments: dokkaHtmlMultiModule

      - uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: build/dokkaHtmlMultiModule
