name: Publish
on:
  release:
    types:
      - published

env:
  GRADLE_OPTS: "-Dorg.gradle.daemon=false"

jobs:
  publish:
    runs-on: macos-11
    steps:
      - uses: actions/checkout@v3
      - uses: gradle/wrapper-validation-action@v1
      - uses: actions/setup-java@v3
        with:
          distribution: "adopt-hotspot"
          java-version: "11.0.11+9"

      - uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
            ~/.konan
            ~/.android/build-cache
            ~/.android/cache
          key: ${{ runner.os }}-publish-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-publish-
            ${{ runner.os }}-

      - run: ./gradlew check
      - run: >-
          ./gradlew
          --no-parallel
          -PVERSION_NAME="${GITHUB_REF/refs\/tags\//}"
          -PsigningInMemoryKey="${{ secrets.SIGNING_KEY }}"
          -PsigningInMemoryKeyPassword="${{ secrets.SIGNING_PASSWORD }}"
          -PmavenCentralUsername="${{ secrets.OSS_SONATYPE_NEXUS_USERNAME }}"
          -PmavenCentralPassword="${{ secrets.OSS_SONATYPE_NEXUS_PASSWORD }}"
          publish
      - run: >-
          ./gradlew
          -PmavenCentralUsername="${{ secrets.OSS_SONATYPE_NEXUS_USERNAME }}"
          -PmavenCentralPassword="${{ secrets.OSS_SONATYPE_NEXUS_PASSWORD }}"
          closeAndReleaseRepository

      - run: |
          rm -f ~/.gradle/caches/modules-2/modules-2.lock
          rm -f ~/.gradle/caches/modules-2/gc.properties
