name: Validate Maven Signing
on:
  push:
    branches:
      - main

jobs:
  signing:
    if: github.repository_owner == 'JuulLabs'
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: gradle/wrapper-validation-action@v3
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: publishToMavenLocal
        uses: gradle/gradle-build-action@v3
        with:
          arguments: |
            -PsigningInMemoryKey=${{ secrets.SIGNING_KEY }}
            -PsigningInMemoryKeyPassword=${{ secrets.SIGNING_PASSWORD }}
            publishToMavenLocal
